@{
    ViewBag.Title = "Investing";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="container pt-5 pb-3">

    <p>
        “This course will guide you the basics of Investing.
        If you have been struggling to understand what investing really entails or where to get started
        then I personally guarantee you’ll finally understand when you finish this course.” — Eduardo Davila
    </p>
    <ul>
        <li>Carefully crafted explanations that are broken down in terms that even kids will understand. Concise, approachable, engaging.</li>
        <li>Learn where to get started, how much money you'll really need, and how much you want to end up with to live a decent life.</li>
        <li>Guides you to learn the truly important concepts to be productive as quickly as possible.</li>
        <li>Review sessions that boil down topics to their essence while helping you build a handy cheat sheet for your reference.</li>
        <li>Take quizzes on the material to test your knowledge.</li>
    </ul>
    <p>Weekly Q&A sessions with Eduardo to make sure that no question goes unanswered.</p>
    <hr>
    <h4>Lessons in this Course</h4>
    <table class="table">
        <tbody>
            <tr>
                <th class="text-center">Completed</th>
                <th>Course Step</th>
                <th>Step Type</th>
                <th>Learning Material</th>
            </tr>
            <tr>
                <td class="text-center"><i class="fa fa-lg fa-square-o text-muted" aria-hidden="true"></i></td>
                <td>Lesson 1 - Series Introduction</td>
                <td>Lesson</td>
                <td><iframe width="560" height="315" src="https://www.youtube.com/embed/Sbp_t4guM8g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
            </tr>
            <tr>
                <td class="text-center"><i class="fa fa-lg fa-square-o text-muted" aria-hidden="true"></i></td>
                <td>Lesson 2 - What does going Long Mean? </td>
                <td>Lesson</td>
                <td><iframe width="560" height="315" src="https://www.youtube.com/embed/EQOxKyFxeoc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
            </tr>
            <tr>
                <td class="text-center"><i class="fa fa-lg fa-square-o text-muted" aria-hidden="true"></i></td>
                <td>Lesson 3 - What does shorting mean?</td>
                <td>Lesson</td>
                <td><iframe width="560" height="315" src="https://www.youtube.com/embed/TTvaXCmtVbI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
            </tr>
        </tbody>
    </table>
</div>


