@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>In the current day we live in, the financial world can be a real nightmare to navigate through.
    How many of us actually feel comfortable with our finances? How many of us have saved as much 
    as we need to? How many of us have the credit score we need to obtain the things we want? All
    of these are great questions... questions that I asked myself for years. I have spent years 
    learning how personal finaces work and I can promise you, it is not easy. All this to say, I 
    am tired of seeing others struggle when all it takes is a little bit of knowledge. My goal is 
    to spread the knowledge of financial literacy so that one day we can all be a part of the
    2 Comma Club.
    </p>
