@{
    ViewBag.Title = "Common Calculators";
}
<h1 align="center">@ViewBag.Title</h1>
<h2 align="center">@ViewBag.Message</h2>

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-block">
                <h2 class="card-title">Car Payment Calculator</h2>
                <p><a href="~/Calculators/CarPayment" class="btn btn-primary btn-lg">View Calculator&raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-block">
                <h2 class="card-title">Debt Payoff Calculator</h2>
                <p><a href="~/Calculators/DebtPayoff" class="btn btn-primary btn-lg">View Calculator&raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-block">
                <h2 class="card-title">Interest Calculator</h2>
                <p><a href="~/Calculators/InterestCalc" class="btn btn-primary btn-lg">View Calculator&raquo;</a></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-block">
                <h2 class="card-title">Mortgage Amoratization Calculator</h2>
                <p><a href="~/Calculators/MortgageAmoratization" class="btn btn-primary btn-lg">View Calculator&raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-block">
                <h2 class="card-title">Savings Goals Calculator</h2>
                <p><a href="~/Calculators/SavingsGoal" class="btn btn-primary btn-lg">View Calculator&raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-block">
                <h2 class="card-title">Convert Salary to Hourly Pay</h2>
                <p><a href="~/Calculators/SavingsGoal" class="btn btn-primary btn-lg">View Calculator&raquo;</a></p>
            </div>
        </div>
    </div>

</div>