@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    13732 Midland Road<br />
    Poway, Ca 92064-4020<br />
    <abbr title="Phone">P:</abbr>
    914.221.8245
</address>

<address>
<strong>Support:</strong>   <a href="mailto:twocommaclubgoals@gmail.com">Support@2CommaClubGoals.com</a><br />
 
</address>