@{
    ViewBag.Title = "Courses";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-sm-12">        
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top img-fluid" src="/Images/Credit.jpg" height="183" width="275" alt="The most basic course available allowing you actually understand how Credit works in the US. | taught by Eduardo Davila">
            <div class="card-block">
                <h4 class="card-title">Fundamentals of Credit</h4>
                <p class="card-text">The most basic course available allowing you actually understand how Credit works in the US. | taught by Eduardo Davila</p>
                <p><a href="~/Courses/Credit.cshtml" class="btn btn-primary btn-lg">View Course »</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top img-fluid" src="/Images/Investing.jpg" height="183" width="275" alt="The most basic course available allowing you actually understand how Investing works in the US. | taught by Eduardo Davila">
            <div class="card-block">
                <h4 class="card-title">Fundamentals of Investing</h4>
                <p class="card-text">The most basic course available allowing you actually understand how Credit works in the US. | taught by Eduardo Davila</p>
                <p><a href="~/Courses/Investing.cshtml" class="btn btn-primary btn-lg">View Course »</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top img-fluid" src="/Images/Savings.jpg" height="183" width="275" alt="The most basic course available allowing you actually understand how Saving works in the US. | taught by Eduardo Davila">
            <div class="card-block">
                <h4 class="card-title">Fundamentals of Saving</h4>
                <p class="card-text">The most basic course available allowing you actually understand how Credit works in the US. | taught by Eduardo Davila</p>
                <p><a href="~/Courses/Savings.cshtml" class="btn btn-primary btn-lg">View Course »</a></p>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>