@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> 2 Comma Club(noun): </h1>
    <p class="lead"> An elite group of individuals that have an income or net worth that is equal to or greater than $1,000,000.</p>
    <p class="lead"> What does it take to be part of this club? The answer is simple, not much. Would you like to join?</p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Investing(verb):</h2>
        <p>
            to expend money with the expectation of achieving a profit
            or material result by putting it into 
            financial schemes, shares, or property, or 
            by using it to develop a commercial venture.
            Some call it "Glorified Gambling"
        </p>
        <p><a class="btn btn-default" href="~/Home/Investing">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Savings(noun):</h2>
        <p> The result of preventing the waste of a particular resource,
            I.E: Money 
        </p>
        <p><a class="btn btn-default" href="~/Home/Savings">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Credit(noun):</h2>
        <p>The ability of a customer to acquire goods or services before payment.
            Every financial institution sees this when they look at you, nothing more. 
        </p>
        <p><a class="btn btn-default" href="~/Credit">Learn more &raquo;</a></p>
    </div>
</div>