@{
    ViewBag.Title = "Under Construction";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div class="jumbotron">
    <h1>Under Construction</h1>
</div>
    <p> We are sorry for the inconvenience, but we are temporarily unavailable.</p>
    <p> If you have any questions or would like to contact us please do so at our support email below.</p>
    <address>
        <strong>Support:</strong>   <a href="mailto:twocommaclubgoals@gmail.com">Support@2CommaClubGoals.com</a><br />
    </address>



